n8n.json
{
  "nodes": [
    {
      "parameters": {
        "path": "student-register",
        "method": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Student Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_ACCOUNT_SID/Messages.json",
        "authentication": "basicAuth",
        "sendBody": true,
        "bodyContentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "To",
              "value": "={{\"whatsapp:+91\" + $json.body.mobile}}"
            },
            {
              "name": "Body",
              "value": "=Hi {{$json.body.name}}, thanks for registering 🎉"
            }
          ]
        }
      },
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "TWILIO_CREDENTIAL_ID",
          "name": "Twilio Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "EME9M9cSy9FvfHvcx2gMPkp1H5Dj4YaKufPRsAyon8Tf",
        "range": "Registrations!A:F",
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "fields": {
          "values": [
            [
              "={{$now}}",
              "={{$json.body.name}}",
              "={{$json.body.class}}",
              "={{$json.body.email}}",
              "={{$json.body.mobile}}",
              "YES"
            ]
          ]
        }
      },
      "name": "Save to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        720,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth"
        }
      }
    }
  ],
  "connections": {
    "Student Webhook": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Save to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
